@page "/"
@inject IJSRuntime jsRuntime
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject ILocalStorageService localStorage
@inject AccountingManager manage
@inject WorkBookCreator workbook_creator;

<MudGrid Style="position:fixed; top:64px;">
    <MudItem xs="12">
        <MudToolBar>
            <MudSpacer />
            <MudFab StartIcon="@Icons.Filled.Autorenew" Class="mr-2" Color="Color.Secondary" OnClick="RemoveData" />
            <MudFab StartIcon="@Icons.Filled.CloudDownload" Class="mr-2" Color="Color.Primary" OnClick="SaveExcel" />
        </MudToolBar>
    </MudItem>
</MudGrid>
@if (!income_visible && !expense_visible && !charts_visible)
{
    <div id="content" style="position:absolute; top:128px; bottom:0px; left:0px; right:0px; overflow:auto;">
        <MudContainer>
            <MudGrid>
                <MudItem xs="12" sm="12" md="6">
                    <MudPaper Class="pa-6 mx-1 mt-1 cursor-pointer" Outlined="true" onclick="@(() => ShowIncome())">
                        <MudStack>
                            <MudText Typo="Typo.h5" Color="Color.Success">Incomes</MudText>
                            <MudPaper Elevation="0">
                                <MudStack Row="true">
                                    @*<MudIcon Size="Size.Large" Color="Color.Success" Icon="@Icons.Filled.AttachMoney"></MudIcon>*@
                                    <MudText Typo="Typo.h5" Color="Color.Success">@CalculateIncomes()</MudText>
                                </MudStack>
                            </MudPaper>
                        </MudStack>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="12" md="6">
                    <MudPaper Class="pa-6 mx-1 mt-1 cursor-pointer" Outlined="true" onclick="@(() => ShowExpense())">
                        <MudStack>
                            <MudText Typo="Typo.h5" Color="Color.Secondary">Expenses</MudText>
                            <MudPaper Elevation="0">
                                <MudStack Row="true">
                                    @*<MudIcon Size="Size.Large" Color="Color.Secondary" Icon="@Icons.Filled.AttachMoney"></MudIcon>*@
                                    <MudText Typo="Typo.h5" Color="Color.Secondary">@CalculateExpenses()</MudText>
                                </MudStack>
                            </MudPaper>
                        </MudStack>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12">
                    <MudPaper Class="pa-6 mx-1 mt-1 cursor-pointer" Outlined="true" onclick="@(() => ShowCharts())">
                        <MudGrid>
                            <MudItem Class="align-self-center">
                                <MudIcon Size="Size.Large" Class="d-inline" Icon="@Icons.Material.Filled.BarChart" />
                            </MudItem>
                            <MudItem Class="align-self-center">
                                <MudText Typo="Typo.h5" Class="d-inline">Charts</MudText>
                            </MudItem>
                        </MudGrid>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudContainer>
    </div>
    <div id="footer" style="position:absolute; bottom:0px; height:0px; left:0px; right:0px; overflow:hidden;">
    </div>
}
@if (income_visible && !menu_visible)
{
    <div id="content" style="position:absolute; top:128px; bottom:64px; left:0px; right:0px; overflow:auto;">
        <MudContainer>
            <MudPaper Elevation="0" Class="ma-1">
                <MudIconButton Icon="@Icons.Filled.Menu" aria-label="menu" Class="mt-2" OnClick="GoBack" />
                    <CardIncome accounting="accounting" />
                </MudPaper>
            </MudContainer>
        </div>
    <div id="footer" style="position:absolute; bottom:0px; height:64px; left:0px; right:0px; overflow:hidden;">
        <MudGrid>
            <MudItem xs="12">
                <MudToolBar>
                    @*<MudFab StartIcon="@Icons.Filled.NavigateBefore" Color="Color.Primary" Label="Prev" OnClick="GoToAccounts" />*@
                    <MudSpacer />
                    <MudFab EndIcon="@Icons.Filled.NavigateNext" Color="Color.Secondary" Label="Expenses" OnClick="GoToExpense" />
                </MudToolBar>
            </MudItem>
        </MudGrid>
    </div>
}
@if (expense_visible && !menu_visible)
{
    <div id="content" style="position:absolute; top:128px; bottom:64px; left:0px; right:0px; overflow:auto;">
        <MudContainer>
            <MudPaper Elevation="0" Class="ma-1">
                <MudIconButton Icon="@Icons.Filled.Menu" aria-label="menu" Class="mt-2" OnClick="GoBack" />
                <CardExpense accounting="accounting" />
            </MudPaper>
        </MudContainer>
    </div>
    <div id="footer" style="position:absolute; bottom:0px; height:64px; left:0px; right:0px; overflow:hidden;">
        <MudGrid>
            <MudItem xs="12">
                <MudToolBar>
                    <MudFab StartIcon="@Icons.Filled.NavigateBefore" Color="Color.Success" Label="Incomes" OnClick="GoToIncome" />
                    <MudSpacer />
                    @*<MudFab EndIcon="@Icons.Filled.NavigateNext" Color="Color.Primary" Label="Next" OnClick="GoToCharts" />*@
                </MudToolBar>
            </MudItem>
        </MudGrid>
    </div>
}
@if (charts_visible && !menu_visible)
{
    <div id="content" style="position:absolute; top:128px; bottom:64px; left:0px; right:0px; overflow:auto;">
        <MudContainer>
            <MudPaper Elevation="0" Class="ma-1">
                <MudIconButton Icon="@Icons.Filled.Menu" aria-label="menu" Class="mt-2" OnClick="GoBack" />
                <MudChart ChartOptions="@options" ChartType="ChartType.Line" Class="mx-2" ChartSeries="@GetSeries()" XAxisLabels="@XAxisLabels()" Width="100%" Height="100%">

                </MudChart>
            </MudPaper>
        </MudContainer>
    </div>
    <div id="footer" style="position:absolute; bottom:0px; height:0px; left:0px; right:0px; overflow:hidden;">
    </div>
}

@code {
    private ChartOptions options = new ChartOptions();
    //ChartOptions options = new ChartOptions() { ChartPalette = new[] { "#4CAF50", "#FF1744" }, InterpolationOption = InterpolationOption.NaturalSpline };
    private const string ACCOUNT_LOCAL_STORAGE = "accounting";
    bool income_visible, expense_visible, charts_visible;
    bool menu_visible = true;
    public Accounting accounting { get; set; } = new Accounting();
    private List<decimal> incomes = new List<decimal>();
    private List<decimal> expenses = new List<decimal>();
    private List<string> dates = new List<string>();
    protected override async Task OnInitializedAsync()
    {
        options.ChartPalette = new[] { "#4CAF50", "#FF1744" };

        accounting = await localStorage.GetItemAsync<Accounting>(ACCOUNT_LOCAL_STORAGE);
        if (accounting == null)
        {
            accounting = new Accounting();
            await localStorage.SetItemAsync(ACCOUNT_LOCAL_STORAGE, accounting);
        }
    }

    public List<ChartSeries> GetSeries()
    {
        incomes = new List<decimal>();
        expenses = new List<decimal>();
        dates = new List<string>();
        var groupedIncome = accounting.Incomes.OrderBy(x => x.Date)
                 .GroupBy(inc => inc.Date) //group it by date
                 .Select(groupedIncomeByDate =>
                     new
                     {
                         Date = groupedIncomeByDate.Key,
                         Amount = groupedIncomeByDate
                                      .Sum(monthIncome => monthIncome.Amount),
                         IsIncome = true
                     }).ToList();

        var groupedExpenses = accounting.Expenses.OrderBy(x => x.Date)
                    .GroupBy(exp => exp.Date)//group it by date
                    .Select(groupedExpenseByDate =>
                        new
                        {
                            Date = groupedExpenseByDate.Key,
                            Amount = groupedExpenseByDate
                                         .Sum(monthExpense => monthExpense.Amount),
                            IsIncome = false
                        }).ToList(); // marker for Concat/Union All

        var result = groupedIncome.Concat(groupedExpenses).OrderBy(x => x.Date)
                  .GroupBy(x => x.Date)
                  .Select(r =>
                               new
                               {
                                   Date = r.Key,
                                   Income = r.Where(p => p.IsIncome).Sum(g => g.Amount),
                                   Expense = r.Where(p => !p.IsIncome).Sum(g => g.Amount)
                               }).ToList();


        foreach (var income in result.OrderBy(x => x.Date))
        {
            incomes.Add(income.Income);
        }
        foreach (var expense in result.OrderBy(x => x.Date))
        {
            expenses.Add(expense.Expense);
        }
        foreach (var date in result.OrderBy(x => x.Date))
        {
            dates.Add(((DateTime)date.Date).ToString("dd/MM/yyyy"));
        }
        return new List<ChartSeries>()
        {
            new ChartSeries() { Name = "Incomes", Data = Array.ConvertAll(incomes.ToArray(),x => (double)x) },
            new ChartSeries() { Name = "Expenses", Data = Array.ConvertAll(expenses.ToArray(),x => (double)x) }
        };
    }
    public string[] XAxisLabels()
    {
        return dates.OrderBy(i => i).ToArray();
    }
    public string CalculateIncomes()
    {
        decimal sum_income = accounting.Incomes.Select(t => t.Amount).Sum();
        return sum_income.ToString("C2");
    }

    public string CalculateExpenses()
    {
        decimal sum_income = accounting.Expenses.Select(t => t.Amount).Sum();
        return sum_income.ToString("C2");
    }

    #region MenuFunctions
    async Task ShowIncome()
    {
        income_visible = true;
        menu_visible = false;
    }
    async Task ShowExpense()
    {
        expense_visible = true;
        menu_visible = false;
    }
    async Task ShowCharts()
    {
        charts_visible = true;
        menu_visible = false;
    }
    async Task GoBack()
    {
        menu_visible = true;
        income_visible = expense_visible = charts_visible = false;
    }
    #endregion

    #region Navigation
    async Task GoToIncome()
    {
        await GoBack();
        await ShowIncome();
    }

    async Task GoToExpense()
    {
        await GoBack();
        await ShowExpense();
    }

    async Task GoToCharts()
    {
        await GoBack();
        await ShowCharts();
    }
    #endregion

    async Task RemoveData()
    {
        var parameters = new DialogParameters();
        parameters.Add("ContentText", $"Do you really want to delete ALL saved data?");
        parameters.Add("ButtonText", "Delete");
        parameters.Add("Color", Color.Error);

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };

        var dialog = DialogService.Show<DeleteItemDialog>("Delete", parameters, options);
        //var dialog = DialogService.Show<EducationDataDialog>("Deleting account", parameters);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            await manage.RemoveData(accounting);
            accounting = new Accounting();
        }
    }

    async Task SaveExcel(){
        try
        {
            await workbook_creator.CreateWorkbook(accounting);
        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }
    }
}
